.worning
  %p.worning-sentence チャットグループを作成しました。

.left
  .left__userinfo
    %span.left__userinfo-name sample
    .left__userinfo-icons
      = link_to new_group_path do
        = fa_icon "edit"
      =link_to edit_user_path(current_user) do
        = fa_icon "cog"
  .left__groups
    = render partial: "left__grouplist"

.right
  .right__up
    %span.right__up-groupname  サンプルグループ
    .right__up__edit
      =link_to "Edit", class:"right__up__edit-btn"
    %li.right__up-member Member: ABCDE
  .right__mid
    = render partial: "right__messagelist"
  .right__bot
    .right__bot__input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "right__bot__input-message", placeholder: 'メッセージを入力してください'
        = f.label :image, class: 'right__bot__input-picture' do
          %i.fa.fa-image
          = f.file_field :image, style: "display: none;"
        = f.submit '送信', class: 'right__bot__input-submit'
